/target
/backend/target
/frontend/node_modules
/frontend/dist
/tools/storymap/web/node_modules
/tools/storymap/web/dist
/tools/storymap/web/public/backlog/*.json
/tools/storymap/web/public/spec-kit/
/frontend/build
/frontend/.next
.env
